<div class="certificados">
    <p class="titulo">CERTIFICADOS</p>
    <p class="subtitulo">Certificados extra-universitarios:</p>
    
    <div class="list">
      <mat-card class="card reveal delay-1">
        <div class="img-wrapper">
          <img mat-card-image src="/assets/imgs/certificado.react.png" alt="Certificado React">
        </div>
        <mat-card-content>
          <p class="tituloCertificado">Curso ReactJs en Coderhouse</p>
          <p>Curso de 2 meses realizado en julio de 2024 donde realicé el proyecto "haven.", aprobando con un 10 como nota final.</p>
        </mat-card-content>
        <mat-card-actions>
          <a href="/assets/imgs/certificado.react.png" download="Certificado React"><i class="fa-solid fa-arrow-up-right-from-square"></i> Ver certificado</a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card reveal delay-2">
        <div class="img-wrapper">
          <img mat-card-image src="/assets/imgs/CertificadoLamansys.jpeg" alt="Certificado Lamansys">
        </div>
        <mat-card-content>
          <p class="tituloCertificado">Bootcamp Frontend Angular en Lamansys</p>
          <p>Curso Front-end de 2 meses realizado en septiembre de 2023 donde realicé el proyecto "AgileFlow" como trabajo final.</p> 
        </mat-card-content>
        <mat-card-actions>
          <a href="/assets/imgs/CertificadoLamansys.jpeg" download="Certificado Lamansys"><i class="fa-solid fa-arrow-up-right-from-square"></i> Ver certificado</a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card reveal delay-3">
        <div class="img-wrapper">
          <img mat-card-image src="/assets/imgs/certificadoIngles.jpeg" alt="Certificado Ingles">
        </div>
        <mat-card-content>
          <p class="tituloCertificado">EFSET English Certificate 63/100 (C1 Advanced)</p>
          <p>The achieved level is 63/100 on the EF SET score scale and C1 Advanced according to the Common European Framework of Reference (CEFR).</p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://cert.efset.org/TYDXgd" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i> Ver certificado</a>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
