<div class="certificados">
    <hr>
    <p class="titulo">CERTIFICADOS</p>
    <p>Certificados extra-universitarios:</p>
    <div class="list">
      <mat-card class="card">
        <img mat-card-image src="/assets/imgs/certificado.jpeg" alt="Certificado">
        <mat-card-content>
          <p class="tituloCertificado">Bootcamp Frontend Angular en Lamansys</p>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i>  Ver certificado</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
