<div class="projects">
    <hr>
    <p class="titulo">PROYECTOS</p>
    <p class="subtitulo">Algunos proyectos realizados a lo largo de mis estudios:</p>
    <div class="list">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="tituloCard">AgileFlow</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/imgs/agileflow.jpeg" alt="AgileFlow">
        <mat-card-content>
          <p>
            Agile Flow es una herramienta para gestión de proyectos, inspirada en aplicaciones como Jira o Taiga.<br>
            <strong>Usuario:</strong> juanis, <strong>Contraseña:</strong> 1234 (tarda unos segundos en logear).<br><br>
            <span id="html" class="language">HTML</span> <span id="sccs" class="language">SCCS</span> <span id="typescript" class="language">TypeScript</span> <span id="angular" class="language">Angular</span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://agile-flow-bootcamp.vercel.app/login" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i>  Visitar</a>
          <a href="https://github.com/juanisuarez28/AgileFlowBootcamp" target="_blank"><i class="fa-brands fa-github"></i>  Ver repositorio</a>
          <a href="https://www.figma.com/design/jmKqZep3iR8GA3SBCUOObT/Figma-TP-Final?node-id=0-1&t=UaSoxM2sZqvrWxsX-1" target="_blank"><i class="fa-brands fa-figma"></i> Figma</a>

        </mat-card-actions>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="tituloCard">Let´sPlay</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/imgs/lets.jpeg" alt="Pagina videojuegos">
        <mat-card-content>
          <p>
            Let´sPlay es una pagina de videojuegos online, contiene un juego "4 en linea" hecho en canvas. Se buscó aplicar los conceptos UX/UI vistos en clase. <br>
            <br><span id="html" class="language">HTML</span>    <span id="css" class="language">CSS</span>    <span id="javascript" class="language"> JavaScript</span> 
          </p>
        </mat-card-content>
        <mat-card-actions class="letslinks">
          <a href="https://juanisuarez28.github.io/Let-s-play/index.html" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i>  Visitar</a>
          <a href="https://github.com/juanisuarez28/Let-s-play" target="_blank"><i class="fa-brands fa-github"></i>  Ver repositorio</a>
          <a href="https://www.figma.com/design/o1l3doCVO39WnHujkZK2XR/Let%C2%B4s-Play!?node-id=6-3&t=NggWXh59lSyiEY1z-1" target="_blank"><i class="fa-brands fa-figma"></i> Figma</a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="list">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="tituloCard">Portfolio</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/imgs/portfolio.jpeg" alt="Portfolio">
        <mat-card-content>
          <p>
            <span id="html" class="language">HTML</span> <span id="sccs" class="language">SCCS</span><span id="typescript" class="language">TypeScript</span> <span id="angular" class="language">Angular</span>
          </p>
        </mat-card-content>
        <mat-card-actions class="portfoliolinks">
          <a href="https://portfoliojuanignaciosuarez.vercel.app/"><i class="fa-solid fa-arrow-up-right-from-square"></i>  Visitar</a>
          <a href="https://github.com/juanisuarez28/portfolio" target="_blank"><i class="fa-brands fa-github"></i>  Ver repositorio</a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="tituloCard">Proyecto Java SpringBoot</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/imgs/monopatinapp.webp" alt="MonopatinesApp">
        <mat-card-content>
          <p>
            Proyecto back-end de servicios REST para una aplicación de monopatines eléctricos, realizado con una arquitectura de microservicios. <br> <br>
            <span id="java" class="language">Java</span> <span id="springboot" class="language">SpringBoot</span><span id="maven" class="language">Maven</span> <span id="html" class="language">MongoDB</span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="/assets/pdf/TPE-ArqWeb-2023.pdf" download="ConsignaMonopatinesApp"><i class="fa-solid fa-arrow-up-right-from-square"></i> Consigna</a>
          <a href="https://github.com/juanisuarez28/MonopatinesApp" target="_blank"><i class="fa-brands fa-github"></i>  Ver repositorio</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="list">
      <mat-card class="cardReact">
        <mat-card-header>
          <mat-card-title class="tituloCard">Proyecto e-commerce</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/imgs/reactjsicono.jpg" alt="ReactJS icono">
        <mat-card-content>
          <p>
            Actualmente me encuentro realizando un curso en CoderHouse de ReactJS, en el que estoy realizando un e-commerce. <br>
            Próximamente estará disponible.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i>  Visitar</a>
          <a href=""><i class="fa-brands fa-github"></i>  Ver repositorio</a>
        </mat-card-actions>
      </mat-card>
    </div>
</div>