.projects{
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  .titulo {
    font-weight: 700;
    font-size: 2rem;
    background: linear-gradient(45deg, #6ecbf3, #0350c3, #16083b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .language{
    border-radius: 15px;
    padding: 5px;
    margin-left: 5px;
    font-size: 11px;
    font-weight: 500;
  }

  #html{
    background-color: #5c86c6;
    color: white;
  }

  #css{
    background-color: rgba(250, 222, 118, 0.737);
  }

  #javascript{
    background-color: rgb(252, 201, 108);
  }

  #sccs{
    background-color: pink;
  }

  #angular{
    background-color: rgb(223, 113, 105);
  }

  #typescript{
    background-color: #6ecbf3;
  }

  #java{
    background-color: rgb(98, 192, 98);
  }

  #springboot{
    background-color: rgb(209, 209, 209);
  }

  #maven{
    background-color: #dfa26c;
  }

  #mongodb{
    background-color: rgb(91, 69, 152);
  }

  hr {
    border-top: 1.5px solid rgb(0, 0, 0);
    width: 32%;
  }

  p {
    text-align: center;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card, .cardReact {
      max-width:20%;
      border-radius: 3%;
      margin: 2rem;
      box-shadow: 0px 5px 5px 0px#b1b1b1;

      p {
        margin-top: 1.3rem;
        margin-bottom: 1rem;
      }
      .letslinks{
        margin-top: 1.3rem;
      }
      .portfoliolinks{
        margin-top: 2.7rem;
      }
      a {
        text-decoration: none;
        margin-left: 0.8rem;
        margin-right: 0.5rem;
      }
    }

    .cardReact{
      max-width: 36%;
    }
  }

}

@media (max-width: 650px){
  .list{
    flex-direction: column;
    align-items: center;

    .card{
      max-width: 25% !important;
    }

    .cardReact{
      max-width: 32% !important;
    }
  }
}

@media (max-width: 430px){
  .titulo {
    font-size: 1.5rem !important;
  }

  .subtitulo{
    font-size: 13.5px;
  }
  p{
    font-size: 13.5px;
  }
  .list{

    .card, .cardReact{
      margin: 1rem !important;

      .tituloCard{
        font-size: 17px !important;
      }
    }

    .cardReact{
      max-width: 36% !important;
    }

    p,a{
      font-size: 14px;
    }
 
  }
  .language{
    font-size: 10px !important;
  }
  hr{
    width: 25% !important;
  }
}

