<div class="projects">
    <hr>
    <p class="titulo">PROYECTOS</p>
    <p>Algunos proyectos realizados a lo largo de mis estudios:</p>
    <div class="list">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>AgileFlow</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/imgs/agileflow.jpeg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i>  Visitar</a>
          <a href=""><i class="fa-brands fa-github"></i>  Ver repositorio</a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Let´sPlay</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/imgs/lets.jpeg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i>  Visitar</a>
          <a href=""><i class="fa-brands fa-github"></i>  Ver repositorio</a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="list">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Portfolio</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/imgs/lets.jpeg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i>  Visitar</a>
          <a href=""><i class="fa-brands fa-github"></i>  Ver repositorio</a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Proyecto Java SpringBoot</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/imgs/agileflow.jpeg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i>  Visitar</a>
          <a href=""><i class="fa-brands fa-github"></i>  Ver repositorio</a>
        </mat-card-actions>
      </mat-card>
    </div>
</div>