// Estilos generales
$color-azul: #3EA7D5;
$color-fondo: #E1E1E1;

// Estilos del cuerpo
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  
  .header{
    width: 100%;
  }
  .presentation {
    margin-top: 6%;
    position: relative;
    margin-right: 5rem;

    .foto {
      display: flex;
      justify-content: end;
      width: 450px;
      position: absolute;
      top: 65%;
      right: 35%;
      transform: translate(50%, -50%);
      z-index: -1;

      img {
        width: 210px;
        height: 210px;
        border-radius: 100%;
      }
    }

    .bienvenida {
      display: flex;
      flex-direction: column;
      margin-top: 0;

      .hola {
        font-weight: 500;
        font-size: 2.5rem;
        margin-bottom: 0;
      }

      .nombreCompleto {
        display: flex;

        .nombre {
          font-weight: 700;
          font-size: 4rem;
          background: linear-gradient(45deg, #6ecbf3, #0350c3, #0350c3, #16083b);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-bottom: 0;
          margin-right: 1rem;
        }
      }

      .apellido {
        font-weight: 700;
        font-size: 4rem;
        background: linear-gradient(45deg, #6ecbf3, #0350c3, #16083b);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .detalle {
        margin-bottom: 0;
        font-size: 1rem;
        color: rgb(130, 130, 130);

        i {
          margin-right: 4px;
        }

        #pc {
          color: rgb(32, 32, 32);
        }

        #ubicacion {
          color: rgb(234, 14, 14);
        }
      }
    }

    .botonesPresentacion {
      display: flex;
      flex-direction: row;
      margin-top: 2rem;


      a{
        text-decoration: none;
        color: rgb(247, 247, 247);
        background-color: #408ed2;
        margin-right: 0.5rem;

      }
    }
  }

  hr {
    border-top: 1.5px solid rgb(0, 0, 0);
    width: 70%;
  }

  .titulo {
    font-weight: 700;
    font-size: 2rem;
    background: linear-gradient(45deg, #6ecbf3, #0350c3, #16083b);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  .aboutMe,
  .skills,
  .softSkills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-top: 12rem;

    p {
      text-align: center;
    }
  }

  #battery{
    color: rgb(5, 182, 5);
    margin-left: 0.5rem;

  }

  #brain{
    color: rgb(242, 82, 106);
    margin-left: 0.2rem;
  }

  .skills,
  .softSkills {
    margin-top: 5rem;
  }

  .skills {
    .simbols {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      margin-top: 1.3rem;

      i {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
        font-size: 55px;
        transition: 0.4s;

        &:hover {
          font-size: 60px;
        }
      }
    }
  }

  .softSkills {
    .lists {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;

      ul {
        margin-right: 1.3rem;
        list-style: none;

        li {
          display: flex;
          align-items: center;
          margin-bottom: 0.8rem;

          p {
            margin: 0;
            margin-left: 0.5rem;
          }

          i {
            color: rgb(65, 170, 81);
          }
        }
      }
    }
  }

}

@media (max-width: 430px){
  .presentation{
    margin-top: 22% !important;
    margin-right: 0.5rem !important;

    .foto {
      width: 300px !important;
      top: 55% !important;
      right: 40% !important;

      img {
        width: 150px !important;
        height: 150px !important;
      }
    }

    .bienvenida{
      .hola{
        font-size: 1.8rem !important;
      }

      .nombre, .apellido{
        font-size: 3rem !important;
      } 

      .apellido{
        margin-bottom: 2rem;
      }

      .detalle{
        font-size: 0.8rem !important;
      }
    }

    .botonesPresentacion{
      margin-top: 3rem !important;

       a{
        font-size: 12px;
      }
    }
  }

  .titulo {
    font-size: 1.5rem !important;
  }

  .aboutMe,
  .skills,
  .softSkills {
    width: 80% !important;

    p{
      font-size: 15px;
    }
  }

  .aboutMe{
    margin-top: 8rem !important;

  }

  .skills{
    i{
      font-size: 40px !important;

      &:hover {
        font-size: 45px;
      }
    }
  }

  .softSkills {
    .lists {
      ul {
        padding-left: 0.8rem;
        li {
          margin-bottom: 1rem !important;
          p {
            font-size: 12px;
            margin-left: 0.3rem !important;
          }
        }
      }
    }
  }

}