<div class="body">
    <app-header class="header"></app-header>

    <div class="presentation">
      <div class="bienvenida">
        <p class="hola">Hola! Soy</p>
        <div class="nombreCompleto">
          <p class="nombre">Juan Ignacio</p>
        </div>
        <p class="apellido">Suarez</p>
        <p class="detalle"><i class="fa-solid fa-desktop" id="pc"></i>Desarrollador Front-end</p>
        <p class="detalle"><i class="fa-solid fa-location-dot" id="ubicacion"></i>Tandil, Buenos Aires, Argentina</p>
      </div>
      <div class="foto"><img src="/assets/imgs/imagen-perfil.jpeg" alt=""></div>

      <div class="botonesPresentacion">
        <a mat-flat-button href="mailto:jjuanignaciosuarez@gmail.com" class="contact"><i class="fa-solid fa-envelope"></i> Contactame</a>
        <a mat-flat-button href="/assets/pdf/JuanIgnacioSuarezCV.pdf" download="Juan Ignacio Suarez CV"><i class="fa-solid fa-file-arrow-down"></i> Descargar CV</a>
      </div>
    </div>

    <div id="aboutme" class="aboutMe">
      <hr>
      <p class="titulo">SOBRE MI</p>
      <p>Tengo 21 años y vivo en la ciudad de Tandil, provincia de Buenos Aires. <br>
        Actualmente estoy rindiendo mis últimos examenes finales de la Tecnicatura Universitaria en el Desarrollo de Aplicaciones Informáticas (TUDAI) en la UNICEN. <br>
        Desde chico tengo dos grandes pasiones: <br>
        Por un lado la <span class="resaltado">tecnología</span>, siempre me llamó la atención todo lo relacionado, ya sean dispositivos, videojuegos, como también ahora la programación. De alguna manera me mantuve conectado. <br>
        Y por otro lado los <span>deportes</span>, especialmente el fútbol, donde forjé grandes amistades! <br>
        La combinación de ambas forman mi <span>equilibrio ideal</span>. <i class="fa-solid fa-battery-full" id="battery"></i> <i class="fa-solid fa-brain" id="brain"></i>
      </p>
    </div>

    <div id="skills" class="skills">
      <hr>
      <p class="titulo">SKILLS</p>
      <p>Me encuentro con <span>solidos conocimientos</span> en: HTML, CSS, JavaScript, Angular, TypeScript, SCCS, Bootstrap, Java, SpringBoot, PHP, MySQL, GitHub, Figma, Trello, Jira. <br>
        <span>Metodologías ágiles:</span> SCRUM.
      </p>
      <div class="simbols">
        <i class="fa-brands fa-html5"></i>
        <i class="fa-brands fa-css3-alt"></i>
        <i class="fa-brands fa-js"></i>
        <i class="fa-brands fa-angular"></i>
        <i class="fa-brands fa-bootstrap"></i>
        <i class="fa-brands fa-java"></i>
        <i class="fa-brands fa-php"></i>
        <i class="fa-solid fa-database"></i>
        <i class="fa-brands fa-square-github"></i>
        <i class="fa-brands fa-figma"></i>
        <i class="fa-brands fa-trello"></i>
      </div>
    </div>

    <div id="softskills" class="softSkills">
      <hr>
      <p class="titulo">SOFT SKILLS</p>
      <p>Me considero una persona creativa, comprometida, responsable y sobre todo apasionada y dispuesta por aprender. Siempre busco seguir <span>ampliando mis conocimientos</span> en nuevas tecnologías por otros medios, y <span>fortaleciendo</span> los que ya tengo a través de mis estudios. Me gusta trabajar de manera organizada donde la comunicación destaque, manteniendo un ambiente motivador y activo. 

      </p>
      <div class="lists">
        <ul>
          <li><i class="fa-solid fa-circle-check"></i><p>Creatividad</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Compromiso</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Responsabilidad</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Proactividad</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Organización</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Comunicación efectiva</p></li>

        </ul>
        <ul>
          <li><i class="fa-solid fa-circle-check"></i><p>Disciplina</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Autodidacta</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Trabajo en equipo</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Adaptabilidad</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Colaboración</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Empatía</p></li>
        </ul>
      </div>
    </div>

    <app-projects id="projects"></app-projects>

    <app-certificados id="certificates"></app-certificados>

    <hr>
    <app-footer></app-footer>
</div>




