<div class="body">
    <app-header class="header"></app-header>

    <div class="presentation">
      <div class="bienvenida">
        <p class="hola">Hola! Soy</p>
        <div class="nombreCompleto">
          <p class="nombre">Juan Ignacio</p>
        </div>
        <p class="apellido">Suarez</p>
        <p class="detalle"><i class="fa-solid fa-desktop" id="pc"></i>Desarrollador Front-end</p>
        <p class="detalle"><i class="fa-solid fa-location-dot" id="ubicacion"></i>Tandil, Buenos Aires, Argentina</p>
      </div>
      <div class="foto"><img src="/assets/imgs/imagen-perfil.jpeg" alt=""></div>

      <div class="botonesPresentacion">
        <a mat-flat-button href="mailto:jjuanignaciosuarez@gmail.com" class="contact">Contactame</a>
        <a mat-flat-button href="/assets/pdf/JuanIgnacioSuarezCV.pdf" download="Juan Ignacio Suarez CV">Descargar CV</a>
      </div>
    </div>

    <div class="aboutMe">
      <hr>
      <p class="titulo">SOBRE MI</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sunt dolorum nam a adipisci mollitia! 
        Sequi, doloribus aut in nemo et asperiores, corporis quas repudiandae dignissimos quibusdam, nihil placeat corrupti? Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum modi ut voluptates, nemo nihil aliquam impedit quod molestias sed in atque? 
        Fugit corrupti, dignissimos omnis tempora enim exercitationem laboriosam esse!
      </p>
    </div>

    <div class="skills">
      <hr>
      <p class="titulo">SKILLS</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sunt dolorum nam a adipisci mollitia! 
        Sequi, doloribus aut in nemo et asperiores, corporis quas repudiandae dignissimos quibusdam, nihil placeat corrupti? Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum modi ut voluptates, nemo nihil aliquam impedit quod molestias sed in atque? 
        Fugit corrupti, dignissimos omnis tempora enim exercitationem laboriosam esse!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet, eos itaque labore a assumenda modi eaque autem et voluptatibus, molestias molestiae alias natus maiores excepturi velit quae reprehenderit nesciunt.
      </p>
      <div class="simbols">
        <i class="fa-brands fa-js"></i>
        <i class="fa-brands fa-js"></i>
        <i class="fa-brands fa-js"></i>
        <i class="fa-brands fa-js"></i>
        <i class="fa-brands fa-php"></i>
        <i class="fa-brands fa-php"></i>
        <i class="fa-brands fa-php"></i>
        <i class="fa-brands fa-html5"></i>
        <i class="fa-brands fa-html5"></i>
        <i class="fa-brands fa-html5"></i>
        <i class="fa-brands fa-css3-alt"></i>
        <i class="fa-brands fa-css3-alt"></i>
        <i class="fa-solid fa-database"></i>
        <i class="fa-solid fa-database"></i>
      </div>
    </div>

    <div class="softSkills">
      <hr>
      <p class="titulo">SOFT SKILLS</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro sunt dolorum nam a adipisci mollitia! 
        Sequi, doloribus aut in nemo et asperiores, corporis quas repudiandae dignissimos quibusdam, nihil placeat corrupti? Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum modi ut voluptates, nemo nihil aliquam impedit quod molestias sed in atque? 
        Fugit corrupti, dignissimos omnis tempora enim exercitationem laboriosam esse!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem amet, eos itaque labore a assumenda modi eaque autem et voluptatibus, molestias molestiae alias natus maiores excepturi velit quae reprehenderit nesciunt.
      </p>
      <div class="lists">
        <ul>
          <li><i class="fa-solid fa-circle-check"></i><p>Trabajo en equipo</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Trabajo en equipo</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Trabajo en equipo</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Trabajo en equipo</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Responsabilidad</p></li>
        </ul>
        <ul>
          <li><i class="fa-solid fa-circle-check"></i><p>Trabajo en equipo</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Trabajo en equipo</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Trabajo en equipo</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Trabajo en equipo</p></li>
          <li><i class="fa-solid fa-circle-check"></i><p>Trabajo en equipo</p></li>
        </ul>
      </div>
    </div>

    <app-projects></app-projects>

    <app-certificados></app-certificados>

    <hr>
    <app-footer></app-footer>
</div>




